body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow: hidden; */
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#listaCompras{
    flex: 1;
    overflow-y: auto !important;
    padding: 20px;
    width: 100%;
}
.add{
    margin-bottom: 8px;
    right: 10px; 
}
.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
#carritoDetalle li{
    position: relative;
    padding-left: 30px; /* Espacio para el checkbox */
    list-style: none;
    width: 100% !important;
  }
li{
    position: relative;
    padding-left: 30px; /* Espacio para el checkbox */
    list-style: none;
}
input[type="checkbox"] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Diseño personalizado del checkbox */
    margin-right: 3%;
    width: 20px;
    height: 20px;
    cursor: pointer; 
    /* Puedes agregar tus propios estilos aquí */
}
footer {
    background-color: #28a745;
    color: white;
    margin-top: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

.filtro{
    display: none;
}

label{
    font-size: medium;
}
p{
    margin-left: 10px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

#contenedor.container{
    margin-top: 50px;
    border-radius: 15px;
    border: 1px solid #000000;
    box-shadow: 0 0 5px #000000;
    height: auto;
}
#container1{
    height: 50%;
}
section{
    padding: 10px;
}
#guardar{
    left: 0;
}
#nombreCategoria{
    right: 0;
}
#listaCarrito{
    margin-bottom: 100px;
    padding: 20px;
}
#productCategory, #productPrice, #productDescription, #productQuantity, #productUnit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 2px !important;
    color: grey;
}
#productName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 2px !important;

}
#productDetails{
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    text-align: left !important;
}
#productList{
    padding: 0px !important;
    width: 70%;
    text-align: left !important;
    border: none !important;
}
h2{
    margin: 0px !important;
    padding: 5px !important;
    background-color: rgba(40, 125, 60, 0.321);
    border-radius: 5px;
}
h3{
    margin: 0px !important;
    padding: 5px !important;
    background-color: #38ab5323;
    border-radius: 5px;
}
